/*
 * Original Author -> Harry Yang (taketoday@foxmail.com) https://taketoday.cn
 * Copyright © TODAY & 2017 - 2023 All Rights Reserved.
 *
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see [http://www.gnu.org/licenses/]
 */

.container > * {
    box-shadow: none;
    background-color: transparent;
    border-radius: 0;
}

.deleteImage, .linkInput {
    float: right;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#saveArticleBtn {
    width: 200px;
    margin-top: 10px;
}

#postTitle {
    font-weight: 400;
}

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
    background: none;
}

.CodeMirror-fullscreen, .editor-toolbar.fullscreen {
    z-index: 1030;
}

.jodit-workplace, .CodeMirror-scroll {
    max-height: 800px !important;
}

.editor-preview-active img, .editor-preview-active-side img {
    width: 100%;
}


.navbar-right {
    margin-right: 0;
}

.avatar {
    margin-top: -14px;
    margin-bottom: -8px;
    border-radius: 5px;
}

.article-list .summary {
    color: #6b6b6b
}

.article-list .read-num {
    color: #999
}

.article-list .info {
    color: #6b6b6b
}

.article-list .separate {
    background-color: #e0e0e0;
    width: 1px;
    height: 12px;
    margin-top: 4px;
    margin-left: 8px;
    margin-right: 8px;
}

.article-list .num {
    color: #3399ea
}

div.info_nav_btn .active {
    border-bottom: 3px solid #0092ee;
}

.markdown img {
    background-color: #fff;
    box-sizing: content-box;
    max-width: 100%;
}

.markdown ol li {
    list-style-type: decimal;
}

.markdown blockquote, .markdown details, .markdown dl, .markdown ol, .markdown p, .markdown pre, .markdown table, .markdown ul {
    margin-bottom: 16px;
    margin-top: 0;
}

.markdown table {
    display: block;
    overflow: auto;
    width: 100%;
}

.markdown table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

.markdown table th {
    font-weight: 600;
}

.markdown table td, .markdown table th {
    border: 1px solid #dfe2e5;
    padding: 6px 13px;
}

.markdown table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

.markdown ul li {
    list-style: outside;
}

.markdown ul, .markdown ol {
    padding-left: 2em;
}

.markdown h2, .markdown h1 {
    border-bottom: 1px solid #eaecef;
    padding-bottom: .3em;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
}

/* markdown end*/

.box-shadow {
    box-shadow: 0 0 7px 0 #ddd;
}

.blue-shadow {
    box-shadow: 0 0 3px #0092ee;
}

.without-shadow {
    box-shadow: none !important;
}

.user_info_item, .hover-item {
    padding: 10px;
    color: #787878;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    border-left: 0 solid #0092ee;
    transition: all .3s ease-in-out;
}

.user_info_item:hover, .hover-item:hover {
    cursor: pointer;
    background-color: #f4f8fb;
    transition: all .3s ease-in-out;
}

body {
    background-color: #f5f5f5 !important;
    font-family: Verdana, "Microsoft YaHei", serif !important;
}

.btn-group.btn-group-sm.btn-block > button {
    width: 33.67%;
}

.WriteCover-wrapper {
    background: #f7f8f9;
    line-height: 192px;
    color: gray;
    min-height: 192px;
    text-align: center;
}

.WriteCover-previewWrapper {
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.UploadPicture-wrapper {
    cursor: pointer;
    width: 100%;
}

.WriteCover-uploadIcon {
    color: rgba(0, 0, 0, .2) !important;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: #eaf5ff !important;
}

/* li.dropdown.dropdown-right a.dropdown-toggle{
	padding-bottom: 17px
} */
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 0px !important;
}

.labels .tag {
    padding: 10px
}

.labels a {
    font-size: 20px;
}

.labels.row {
    margin: 0 -10px -10px -10px;
}

.tag > a > span {
    text-align: center;
    display: inline-block;
    height: 40px;
    padding: 10px;
    width: 100%;
    transition: All .3s ease-in-out;
    -o-transition: All .3s ease-in-out;
    -moz-transition: All .3s ease-in-out;
    -webkit-transition: All .3s ease-in-out;
}

/* .tag>a>span:hover{
	background-color: #f4f8fb;
   	transition:All .3s ease-in-out;
    -o-transition:All .3s ease-in-out;
    -moz-transition:All .3s ease-in-out;
    -webkit-transition:All .3s ease-in-out;
} */
.categories .data {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    background: #fff;
    border: 1px dashed #C8DDE4;
}

.sub_comment ul {
    margin: 0;
}

.datas hr {
    border: none;
    border-top: 1px dashed #C8DDE4;
    margin-bottom: 0px;
}

.comment_user_info .user_name {
    padding: 0 10px;
}

.comment_user_info time {
    padding-left: 10px;
    border-left: 1px solid #d5dbde;
}

.comment_user_info .user_info {
    display: inline-block;
    position: absolute;
    word-break: keep-all;
}

.comment_user_info .user_description {
    display: inline-block;
    position: absolute;
    margin: 20px 10px;
}

.comment_user_info {
    color: #788087;
    margin-top: 10px;
}

#replyInput {
    margin-bottom: 10px;
}

#comment_info input, #reply_info input {
    margin: 10px 0;
    display: block;
    width: 100%;
}

#article_copyright {
    color: #788087;
    overflow: hidden;
    padding: 0 20px 10px 10px;
}

div.data_list .data_list_title {
    border-left: 5px solid #1b809e;
    padding: 10px;
}

#tagcloud > a {
    margin-right: 5px;
    display: inline-block;
}

#loginFrom > #subBtn {
    margin-top: 10px;
}

.magic-radio {
    position: absolute;
    display: none;
}

.magic-radio + label:before {
    border-radius: 50%;
    background: #e6f9fd;
    border: 1px solid #00c1de;
    box-shadow: 0 2px 15px 0 rgba(0, 193, 222, .3);
}

.magic-radio + label:after {
    bottom: 5.6px;
    right: 5.6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #e6f9fd;
    border: 1px solid #00c1de;
    box-shadow: 0 2px 15px 0 rgba(0, 193, 222, .3);
}

.magic-radio:checked + label {
    background: #e6f9fd;
    border: 1px solid #00c1de;
    box-shadow: 0 2px 15px 0 rgba(0, 193, 222, .3);
}

#footer {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #2e2e2e;
}

.mores {
    top: -19px;
    right: 0;
    height: 6px;
    text-align: right;
    position: relative;
    font-size: 12px;
    font-weight: initial;
}

@media ( max-width: 768px) {
    #searchBtn {
        position: absolute;
        top: 11px;
        right: -6px;
        height: 35px;
    }

    #searchInput {
        margin-left: 6px;
    }

    #centerSearchBtn {
        position: absolute;
        top: 29px;
        right: 26px;
        height: 36px;
    }
}

@media screen and (min-width: 768px) {

    #searchBtn, #centerSearchBtn {
        color: #ddd;
        background-color: #0092ee;
        transition: all .3s ease-in-out;
    }

    #searchBtn:hover, #centerSearchBtn:hover {
        background-color: #fff;
        border-color: #0092ee;
        transition: all .3s ease-in-out;
        color: #0092ee;
    }

    #searchInput, #centerSearchInput {
        position: relative;
        margin-right: -40px;
    }
}

input {
    font-size: 24px
}

.Copyright {
    padding: 10px;
    font-size: 15px
}

.powered > span > a, .Copyright > span > a {
    color: #fff
}

#tabs-login {
    max-width: 300px;
    margin: 25px auto 20px
}

.Copyright {
    color: #666
}

#loginForm {
    max-width: 300px;
    padding: 25px;
    margin: -1px auto 20px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px #ddd;
    -webkit-box-shadow: 0px 0px 7px 0px #ddd;
    -moz-box-shadow: 0px 0px 7px 0px #ddd;
    box-shadow: 0px 0px 7px 0px #ddd
}

input {
    font-size: 24px
}

.powered {
    font-size: 15px
}

.nav-tabs {
    border-bottom: 0px
}

.nav-tabs > li > a {
    margin-right: 0
}

.Copyright {
    padding: 10px;
    font-size: 15px
}

.powered > span > a, .Copyright > span > a {
    color: #fff
}

#tabs-login {
    max-width: 300px;
    margin: 25px auto 20px
}

.Copyright {
    color: #666
}


.powered {
    font-size: 15px
}

form .line {
    overflow: hidden
}

.toast-top-right {
    top: 60px;
    right: 12px
}

.Copyright {
    padding: 10px;
    font-size: 15px
}

@media ( max-width: 320px) {
    #randCode {
        width: 62% !important
    }
}


.Copyright {
    padding: 10px;
    font-size: 15px
}

#label {
    padding-left: 0
}

label {
    margin-bottom: 10px;
}

.Copyright {
    padding: 10px;
    font-size: 15px
}

@media ( max-width: 320px) {
    #randCode {
        width: 62% !important
    }
}

.powered > span > a, .Copyright > span > a, #footer {
    color: #fff !important;
}

.syntaxhighlighter {
    display: block;
}

.sub_comment_input {
    width: 100%;
    height: 100px;
}

.comment_footer {
    vertical-align: middle;
}

.comment_list_container {
    margin-left: 45px;
}

.comment_list_container li {
    display: block;
}

.comment_list_container img {
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

.comment_user_avatar {
    display: block;
    width: 36px;
    float: left;
}

.sub_comment {
    display: block;
    margin-left: 40px;
    word-wrap: break-word;
}

.comment_time, .sub_content_time {
    margin: 3px 0 3px 0;
    font-size: smaller;
    color: #9c9c9c;
}

.sub_item_avatar {
    display: block;
    float: left;
}

.comment_user_info a div {
    background: #f6f6f6;
    height: 40px;
    width: 40px;
    border-radius: 6px;
    display: inline-block;
}

.userinfo div {
    background: #f6f6f6;
    margin-left: 6px;
    height: 16px;
    width: 18em;
}

.comment_content .content div {
    padding: 10px;
    background: #f6f6f6;
    margin: 10px 0;
}

.user_description div {
    background: #f6f6f6;
    width: 8em;
    height: 16px;
    margin-left: -4px;
}

.main_comment .comment_opt_container {
    margin-left: 0;
}

.down_opt {
    position: absolute;
    right: 20px;
    top: 15px;
}

.down_opt i:hover {
    color: #00826f;
}

.down_menu {
    position: absolute;
    right: 20px;
    top: 35px;
    overflow: hidden;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 5px #acacac;
    z-index: 10000;
    width: 100px;
    height: 78px;
    padding: 3px;
}

.down_menu a {
    display: inline-block;
    width: 100%;
    height: 36px;
    padding: 7px 18px 7px 18px;
}

.opt_trans:hover {
    background-color: #f1f1f1;
}

.rank_gold, .rank_silver, .rank_coppery {
    position: absolute;
    top: -15px;
    left: 2px;
}

.rank_gold {
    color: gold;
}

.rank_silver {
    color: silver;
}

.rank_coppery {
    color: coral;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.dropdown-menu .divider {
    margin: 0 0 !important;
}

#subBtn:hover {
    box-shadow: 0px 0px 3px #0092ee;
    background-color: #fff;
    border-color: #0092ee;
    transition: all .3s ease-in-out;
    color: #0092ee;
}

#subBtn {
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #0092ee;
    border-color: #0092ee;
    background-color: #0092ee;
    transition: all .3s ease-in-out;
    color: #fff;
}

img {
    cursor: pointer !important;
    max-width: 100%;
}

#img {
    position: relative;
    border-radius: 50%;
    margin-top: -17px;
    right: 15px;
}

.cid-qtzQGgTpkO {
    width: 100%;
    height: 100%;
    padding-top: 125px;
}

#leftImg {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    left: 90px;
}

#rightImg {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    right: 90px;
}

.toLeft {
    position: relative;
    padding-left: 50px;
}

.jumbotron {
    padding-left: 40px;
}

.item > img {
    transition: All 0.6s ease-in-out;
    -webkit-transition: All 0.6s ease-in-out;
    -moz-transition: All 0.6s ease-in-out;
    -o-transition: All 0.6s ease-in-out;
}

.item > img:hover, #qq:hover, #qqZone:hover, #weiBo:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.data_list .data_list_title {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px dashed #C8DDE4;
    padding-bottom: 10px;
    padding-top: 5px;
}

.cid-qtzQGgTpkO {
    width: 100%;
    height: 100%;
    padding-top: 60px;
}

@media ( max-width: 768px) {
    #img {
        position: relative;
        border-radius: 50%;
        margin-top: -17px;
        right: 0px;
    }
}

.panel-group a .panel-body:hover {
    background-color: #337ab7;
}

.panel-group a:hover {
    color: #fff;
}

.panel-body {
    padding: 10px;
}

.datax > ul > li > a > div:hover {
    background-color: #f4f8fb;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.datax > ul > li > a > div {
    margin-left: -10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    margin-right: -10px;
    transition: all .3s ease-in-out;
}

.datax > ul > li > a:hover {
    text-decoration: none;
}

textarea {
    resize: none !important;
    border-radius: 5px;
}

#comments .comment_avatar {
    border-radius: 6px;
    width: 40px;
}

.comment_content, .sub_comment_content {
    margin: 13px 0 0 52px;
    line-height: 28px;
    color: #434343;
    border-bottom: 1px dashed #eee
}

.sub_comment_content .content div {
    padding: 10px;
    background: #f6f6f6;
    margin: 10px 0;
}

.profile_avatar {
    margin: 8px 10px 2px 13px;
    border-radius: 15%;
    width: 64px;
    display: inline !important;
    transition: All 0.3s ease-in-out;
    -webkit-transition: All 0.3s ease-in-out;
}

.profile_avatar:hover {
    box-shadow: 0 0 7px 1px rgba(69, 165, 248, 0.63);
    transition: All 0.3s ease-in-out;
    -webkit-transition: All 0.3s ease-in-out;
}

#facebox {
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0px 0px 7px 0px #ddd;
    margin-top: 8px;
    margin-left: -7px;
}

#facebox tr > td > img {
    margin: 1px;
}

#facebox tr > td > img:hover {
    border-style: solid;
    border-color: #a0a0a0;
    border-width: 1px;
    margin: 0px;
    cursor: pointer;
    border-radius: 2px;
}

.randImage {
    height: 36px;
    margin: -5px 0 0 0;
}

@media ( max-width: 530px) {
    #reply_Rand_Code_Input, #comment_Rand_Code_Input {
        width: 40%;
    }
}

.qqFace {
    margin-top: 190px;
}

.input {
    margin-top: 10px
}

.btn_comment_face {
    display: block;
    float: left;
    position: relative;
    margin: 10px 10px;
}

.info_avatar {
    width: 160px;
    border: 3px solid #fff;
    border-radius: 10px;
    margin: 40px 0 0 0;
}

.userName {
    margin-top: 10px;
}

.userName h3 {
    margin-top: 10px;
}

.sex {
    margin: 0 -30px 0 5px;
}

.head_avatar img {
    display: inline-block;
    border-radius: 50%;
    width: 110px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
}

/* p {
	margin: 0 !important;
} */

.back_info_nav {
    background-color: white;
    margin-bottom: 30px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 0px 7px 0px #ddd;
    margin-right: 0px !important;
    margin-left: 0px !important;
    text-align: center;
}

.back_info_nav > .info_nav {
    display: inline-block;
    color: #788087
}

.back_info_nav > .info_nav .info_nav_btn {
    display: inline-block;
    text-align: center;
    margin: 0 20px 0 20px;
}

.back_info_nav > .info_nav .info_nav_btn a {
    color: #767676;
}

.back_info_nav > .info_nav .info_nav_btn a:hover {
    text-decoration: none;
}

.back_info_nav > .info_nav .info_nav_btn span:hover {
    background-color: #f4f8fb;
    transition: All .3s ease-in-out;
    -o-transition: All .3s ease-in-out;
    -moz-transition: All .3s ease-in-out;
    -webkit-transition: All .3s ease-in-out;
}

.back_info_nav > .info_nav .info_nav_btn span {
    display: inline-block;
    height: 40px;
    padding: 10px;
    width: 80px;
    transition: All .3s ease-in-out;
    -o-transition: All .3s ease-in-out;
    -moz-transition: All .3s ease-in-out;
    -webkit-transition: All .3s ease-in-out;
}

.back_info_nav .info_setting {
    display: inline-block;
}

input[type=button]:hover {
    background-color: #fff;
    border-color: #0092ee;
    transition: all .3s ease-in-out;
    color: #0092ee;
}

input[type=button] {
    border-color: #0092ee;
    background-color: #0092ee;
    transition: all .3s ease-in-out;
    color: #fff;
}

.same:hover {
    background-color: #fff;
    border-color: #0092ee;
    transition: all .3s ease-in-out;
    color: #0092ee !important;
}

.same {
    border-color: #0092ee;
    background-color: #0092ee;
    transition: all .3s ease-in-out;
    color: #fff !important;
}

.opposite {
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #0092ee;
    background-color: #fff;
    border-color: #0092ee !important;
    transition: all .3s ease-in-out;
    color: #0092ee !important;
}

.opposite:hover {
    box-shadow: 0px 0px 3px #0092ee;
    border-color: #0092ee;
    background-color: #0092ee;
    transition: all .3s ease-in-out;
    color: #fff !important;
}

li a:hover {
    text-decoration: none;
}

.Copyright {
    padding: 10px;
}

div.content {
    margin-top: 10px
}

#content .content {
    padding: 40px 0;
}

a:hover, a:focus {
    text-decoration: none !important;
}

select > option {
    z-index: 9999;
}

@media ( max-width: 768px) {
    .container .row .col-lg-9, .container .row .col-lg-12 {
        padding-left: 0;
        padding-right: 0
    }
}

#count {
    padding: 0;
    height: 100%;
    margin: -1px 2px 0 2px;
}

.content_data {
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px #ddd;
    padding: 10px 10px 10px 10px !important;
}

:focus {
    outline: none !important;
}

.navbar {
    box-shadow: 0px 0px 7px 0px #ddd !important
}

#loginForm #randCode {
    width: 64% !important
}

.toast-top-right {
    top: 60px !important
}


@media ( max-width: 320px) {
    #randCode {
        width: 62% !important
    }
}

img#randImg {
    cursor: pointer;
    height: 36px;
    position: relative;
    left: 3px
}

.data_list {
    padding: 10px;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px #ddd;
}

.data_list .nickName, .data_list .userSign {
    text-align: center;
}

.data_list .diary_datas ul {
    list-style-type: none;
}

.data_list .diary_datas ul li {
    margin-top: 15px;
}

.data_list .datas ul {
    list-style-type: none;
    padding-left: 12px;
    padding-right: 12px;
}

.data_list .datas ul li {
    margin-top: 10px;
}

.data_list .datas .data {
    padding: 10px;
}

.data_list .data_list_title .datas {
    padding: 5px;
}

.datas .data:hover {
    transition: All 0.25s ease-in-out;
    -o-transition: All 0.25s ease-in-out;
    -moz-transition: All 0.25s ease-in-out;
    -webkit-transition: All 0.25s ease-in-out;
    box-shadow: 0px 0px 12px 0px #ddd;
    cursor: pointer;
}

.datas .date, .datas .title {
    display: block;
    line-height: 1.5;
    padding-bottom: 5px;
    font-size: 20px;
}

.datas .date a {
    font-weight: bold;
}

.datas .title a {
    font-weight: bold;
}

.datas .summary {
    display: block;
    line-height: 22.5px;
    padding-top: 5px;
    font-size: 15px;
    word-wrap: break-word;
}

.datas .img {
    margin-top: 10px;
    padding-bottom: 10px;
    display: block;
    clear: both;
}

/* .datas img {
	max-height: 300px;
	max-width: 600px;
	border-radius:5px

} */

.datas .info {
    display: block;
    float: right;
}

.data_list .blog_title {
    margin-top: 20px;
    text-align: center;
}

.data_list .blog_info {
    text-align: center;
}

.data_list .blog_content {
    margin-top: 20px;
}

.data_list .commentDatas {
    padding: 10px;
}

.data_list .verCode {
    padding-top: 10px;
    padding-left: 10px;
    float: left;
}

.data_list .blog_keyWord {
    font-size: 16px;
    padding-bottom: 30px;
    padding-left: 30px
}

.search .title a {
    color: #256EB1;
    font-weight: normal;
    text-decoration: underline;
}

.search .summary {
    display: block;
    line-height: 19.5px;
    padding-top: 0px;
    font-size: 13px;
    color: rgb(0, 0, 0);
}

.search .link a {
    color: #008400
}

.data > ul > li {
    display: inline-block;
    width: 30.333%;
    margin-top: 10px;
    color: #788087
}

/* 文章-内容页 */
.articleContent {
    padding: 10px;
    font-size: 16px;
    background-color: #fff
}

.articleContent .title {
    text-align: center;
    color: #f60;
}

.articleContent .property {
    margin-top: 10px;
    text-align: center;
    line-height: 22px;
    padding: 2px 10px;
    background: #F9FBFB;
    border: 1px dashed #C8DDE4;
    color: #999;
}

.articleContent #contentTxt {
    padding: 16px 0;
}

.item > img:hover, #qq:hover, #qqZone:hover, #weiBo:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

a {
    cursor: pointer;
}

.articleShare {
    text-align: right
}

.footer-p {
    font-size: 15px;
    color: #666;
    line-height: 1.5;
}

.data > .column > p {
    padding: 0;
    margin: 0;
    color: #788087;
}

.oper > a > span {
    position: relative;
    top: 2px;
    left: 3px;
    margin: 0 22px 0 0px
}

.oper > a:hover, .blog_keyWord > a {
    text-decoration: none !important;
}

.oper > a:focus, .blog_keyWord > a {
    text-decoration: none !important;
}

.settingItem > a > span {
    text-align: center;
    display: inline-block;
    height: 40px;
    padding: 10px;
    width: 100%;
    transition: All .3s ease-in-out;
    -o-transition: All .3s ease-in-out;
    -moz-transition: All .3s ease-in-out;
    -webkit-transition: All .3s ease-in-out
}

.settingItem > a > span:hover {
    background-color: #f4f8fb;
    transition: All .3s ease-in-out;
    -o-transition: All .3s ease-in-out;
    -moz-transition: All .3s ease-in-out;
    -webkit-transition: All .3s ease-in-out;
}

em {
    color: red;
    font-style: normal;
}

#search {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 44px;
}

.non_follow {
    background-color: #0092ee;
    color: #fff;
}

.non_follow:hover, .non_follow:focus {
    background-color: #0077e6;
    color: #fff !important;
}

.followed {
    background-color: #8590a6;
    color: #fff;
}

.followed:hover, .followed:focus {
    color: #fff !important;
}

.red {
    color: red;
}

.Copyright .footer-p {
    color: #666
}

.login_avatar {
    text-align: center;
}

.login_avatar img {
    display: inline !important;
    box-shadow: 0 0 7px 1px rgba(69, 165, 248, 0.63);
    margin-bottom: 40px
}

.prompt-randCode {
    width: 23%;
    height: 36px;
    border: 1px solid #e1e1e1;
    margin: 0px 0px 5px 5px;
    border-radius: 5px;
}

@media ( max-width: 768px) {
    input#weui-prompt-randCode {
        width: 48% !important;
    }

    .prompt-randCode {
        width: 29% !important;
        margin: 0px 0px 3px 5px !important;
    }
}

.bootstrap-select > .dropdown-toggle {
    padding-right: 12px !important;
}

div.tagSelect > .dropdown-menu {
    box-shadow: 0px 0px 7px 0px #ddd;
    border: none;
}

ul > li > a > span.text {
    color: #0092ee;
}

.tagSelect > button > span {
    text-align: center !important;
}

div.bootstrap-select.tagSelect {
    width: 200px !important;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    margin-top: 11px !important;
}

ul.dropdown-menu {
    min-width: 90px;
    border: none;
    margin: 0 !important;
    padding: 0 0 0 0 !important;
    box-shadow: 0px 0px 7px 0px #ddd;
    position: absolute;
    left: -80px;
    /* max-width: 140px; */
}

.content_data .dropdown-right {
    float: right;
}

.dropdown-menu li {
    margin-top: 0px !important;
}

.dropdown-menu li a {
    padding: 10px 10px !important;
    transition: all .3s ease-in-out;
    white-space: normal !important;
    word-break: break-all;
}

.dropdown-menu li a:hover {
    background-color: #f4f8fb !important;
    transition: all .3s ease-in-out;
}

.replyOper {
    display: block;
    text-align: right;
}

.replyBtn {
    color: #337ab7;
    cursor: pointer;
}

.more {
    right: -9px;
    height: 6px;
    text-align: right;
    position: relative;
    font-size: 12px;
    font-weight: initial;
}

.backTop {
    bottom: 20px;
    right: 20px;
    position: fixed;
    text-align: right;
    z-index: 5000;
    color: #fff;
    font-size: 20px
}

.backTop img {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    height: 40px;
    width: 40px;
    outline-style: none !important;
    position: relative;
    text-decoration: none;
    transition: all .3s ease-in-out;
    cursor: pointer;
    text-align: center
}

@media ( max-width: 500px) {
    .backTop {
        left: 85%;
        right: auto
    }
}

.backTop img:hover {
    background-color: rgba(0, 0, 0, 0.4)
}

* {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 0px;
}

::-webkit-scrollbar-track-piece {
    opacity: 1;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #bbb;
}

/* ::selection {
	text-shadow: none;
    background: rgba(66,133,244,.4);
}

::-moz-selection {
    background: rgba(66,133,244,.4);
	text-shadow: none;
} */

.magic-radio {
    position: absolute;
    display: none;
}

.magic-radio + label:before {
    border-radius: 50%;
    background: #e6f9fd;
    border: 1px solid #00c1de;
    box-shadow: 0 2px 15px 0 rgba(0, 193, 222, .3);
}

.magic-radio + label:after {
    bottom: 5.6px;
    right: 5.6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #e6f9fd;
    border: 1px solid #00c1de;
    box-shadow: 0 2px 15px 0 rgba(0, 193, 222, .3);
}

.magic-radio:checked + label {
    background: #e6f9fd;
    border: 1px solid #00c1de;
    box-shadow: 0 2px 15px 0 rgba(0, 193, 222, .3);
}

.article-title {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    border: none !important;
    background: #fff 0 0 !important;
    width: 100% !important;
    height: 50px !important;
    font-size: 30px !important;
    font-weight: 700 !important;
    line-height: 40px !important;
    color: #000 !important;
    box-shadow: 0 0 white !important;
}

/* input[type=text]:focus, input[type=search]:focus, input[type=tel]:focus,
	input[type=time]:focus, input[type=url]:focus, input[type=week]:focus,
	input[type=password]:focus, input[type=color]:focus, input[type=date]:focus,
	input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=email]:focus,
	input[type=month]:focus, input[type=number]:focus, textarea:focus,
	select:focus {
	border-color: #5b9dd9 !important;
	background-color: #fff !important;
	box-shadow: 0 0 2px rgba(30, 140, 190, .8) !important
}

input[type=text], input[type=search], input[type=tel], input[type=time],
	input[type=url], input[type=week], input[type=password], input[type=color],
	input[type=date], input[type=datetime], input[type=datetime-local],
	input[type=email], input[type=month], input[type=number], select {
	border: 1px solid #ddd !important;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07) !important;
	color: #32373c !important;
	outline: 0 !important;
	border-radius: 4px;
	padding: 10px 10px;
	font-size: 16px;
	height: 36px;
	transition: 50ms border-color ease-in-out !important
} */

textarea {
    border: 1px solid #ddd !important;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07) !important;
    color: #32373c !important;
    outline: 0 !important;
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 16px;
    transition: 50ms border-color ease-in-out !important
}

.animate {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.animbrand a::after, .animbrand a::before {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform .3s, opacity .2s;
    -moz-transition: -moz-transform .3s, opacity .2s;
    transition: transform .3s, opacity .2s;
    color: #5FB0E4;
    font-size: 22px;
    line-height: 16px
}

.animbrand a::before {
    margin-right: 3px;
    content: '<';
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    transform: translateX(50px)
}

.animbrand a::after {
    margin-left: 3px;
    content: '>';
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    transform: translateX(-50px)
}

.animbrand a:focus::after, .animbrand a:focus::before, .animbrand a:hover::after,
.animbrand a:hover::before {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0)
}

.navbar-bootsnipp {
    background-color: #FFF;
    border-color: #5FB0E4;
    border-radius: 0;
    margin-bottom: 0;
    z-index: 100
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 10px !important;
    margin-right: 10px !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

.navbar-bootsnipp:nth-of-type(2) {
    border-top-width: 1px;
    z-index: 50
}

.navbar-bootsnipp.affix, .navbar-bootsnipp.affix-top {
    top: 0;
    width: 100%
}

/* .navbar-bootsnipp .navbar-toggle .icon-bar {
	background-color: #5FB0E4
} */

/* .navbar-bootsnipp .navbar-nav>li>a {
	border: 0 solid #5FB0E4;
} */

.navbar-bootsnipp .navbar-nav > li > form > .input-group > .input-group-btn > .btn,
.navbar-bootsnipp .navbar-nav > li > form > .input-group > input {
    border-radius: 0
}

.navbar-bootsnipp .navbar-nav > li:not(.disabled ).active > a,
.navbar-bootsnipp .navbar-nav > li:not(.disabled ).open > a,
.navbar-bootsnipp .navbar-nav > li:not(.disabled ) > a:focus,
.navbar-bootsnipp .navbar-nav > li:not(.disabled ) > a:hover {
    border-left-width: 5px;
    /* color: #5FB0E4; */
    padding-left: 10px
}

.navbar-bootsnipp .navbar-nav > li.disabled > a {
    color: #C8C8C8
}

.navbar-bootsnipp .navbar-nav > li > .dropdown-menu {
    border-radius: 0;
    margin-right: -1px;
    min-width: 220px;
    padding: 0
}

.navbar-bootsnipp .navbar-nav > li:not(.dropdown-right ) > .dropdown-menu {
    left: 0;
    margin-left: -1px;
    right: auto
}

.navbar-bootsnipp .navbar-nav > li > .dropdown-menu > li > a {
    border-left: 0 solid #0092ee;
    transition: all .3s ease-in-out;
    color: #787878;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
    white-space: nowrap
}

.navbar-bootsnipp .navbar-nav > li > .dropdown-menu > li.active > a,
.navbar-bootsnipp .navbar-nav > li > .dropdown-menu > li > a:focus,
.navbar-bootsnipp .navbar-nav > li > .dropdown-menu > li > a:hover {
    background-color: #f4f8fb;
    transition: all .3s ease-in-out;
    border-left-width: 5px;
    padding-left: 15px
}

.navbar .bootsnipp-profile > a {
    padding-bottom: 9px;
    padding-top: 9px
}

.navbar .bootsnipp-profile > a > img {
    border-radius: 50%;
    width: 32px
}

.navbar .bootsnipp-profile > .dropdown-menu {
    width: 320px
}

.navbar .bootsnipp-profile > .dropdown-menu > li > .row {
    padding: 5px 15px
}

.navbar .bootsnipp-profile > .dropdown-menu > li > .row img {
    width: 100%
}

.navbar-bootsnipp .bootsnipp-search {
    display: none
}

.navbar-bootsnipp .bootsnipp-search .form-control {
    background-color: #ebebeb;
    border-radius: 0;
    border-width: 0;
    font-size: 24px;
    height: auto
}

.navbar-bootsnipp .bootsnipp-search .form-control:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.navbar-bootsnipp .bootsnipp-search .input-group-btn > .btn {
    padding: 10px 16px;
    border-radius: 0
}

.navbar-bootsnipp .bootsnipp-search .input-group-btn > .btn-default {
    background-color: #f5f5f5
}

.nav-padding {
    padding-top: 61px
}

@media screen and (min-width: 768px) {
    body {
        margin-bottom: 100px
    }

    .bs-header {
        font-size: 21px;
        padding: 20px 15px;
        text-align: center
    }

    .navbar-bootsnipp .navbar-nav > li > a {
        font-size: 16px;
        letter-spacing: 1px
    }

    .navbar-bootsnipp .navbar-nav > li:not(.disabled ).active > a,
    .navbar-bootsnipp .navbar-nav > li:not(.disabled ).open > a,
    .navbar-bootsnipp .navbar-nav > li:not(.disabled ) > a:focus,
    .navbar-bootsnipp .navbar-nav > li:not(.disabled ) > a:hover {
        border-bottom-width: 5px;
        border-left-width: 0;
        padding-bottom: 15px;
        padding-left: 15px
    }

    .navbar-bootsnipp .navbar-nav > li.disabled > a {
        padding-left: 10px;
        padding-right: 10px
    }

    .navbar-bootsnipp .bootsnipp-search {
        background-color: #ebebeb;
        display: block;
        position: absolute;
        top: 100%;
        width: 100%;
        -webkit-transform: rotateX(-90deg);
        -moz-transform: rotateX(-90deg);
        -o-transform: rotateX(-90deg);
        -ms-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        -webkit-transform-origin: 0 0 0;
        -moz-transform-origin: 0 0 0;
        -o-transform-origin: 0 0 0;
        -ms-transform-origin: 0 0 0;
        transform-origin: 0 0 0;
        visibility: hidden
    }

    .navbar-bootsnipp .bootsnipp-search.open {
        -webkit-transform: rotateX(0);
        -moz-transform: rotateX(0);
        -o-transform: rotateX(0);
        -ms-transform: rotateX(0);
        transform: rotateX(0);
        visibility: visible
    }

    .navbar-bootsnipp .bootsnipp-search > .container {
        padding: 0
    }

    .bs-indent ul > li:first-child {
        display: inline-block
    }
}

@font-face {
    font-family: "iconfont";
    src: url('iconfont.eot?t=1479811075105'); /* IE9*/
    src: url('iconfont.eot?t=1479811075105#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('iconfont.woff?t=1479811075105') format('woff'),
        /* chrome, firefox */ url('iconfont.ttf?t=1479811075105') format('truetype'),
        /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('iconfont.svg?t=1479811075105#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
    content: "\e617";
}

.icon-zhuce:before {
    content: "\e7cd";
}

.icon-login-user:before {
    content: "\e60b";
}

.icon-groupcopy5:before {
    content: "\e612";
}

.icon-shoucang:before {
    content: "\e621";
}

.icon-xiaolian:before {
    content: "\e60c";
}

.icon-iconfontiocnnan:before {
    content: "\e601";
}

.icon-nv:before {
    content: "\e606";
}

.icon-rank-2:before {
    content: "\e504";
}

.zoom-img, .zoom-img-wrap {
    position: relative;
    z-index: 666;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

nav {
    z-index: 420 !important;
}

.zoom-overlay {
    z-index: 420;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    filter: "alpha(opacity=0)";
    opacity: 0;
    -webkit-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
}

.zoom-overlay-open .zoom-overlay {
    filter: "alpha(opacity=100)";
    opacity: 0.7;
}

.zoom-overlay-open, .zoom-overlay-transitioning {
    cursor: default;
}

.contextmenu {
    display: none;
    position: absolute;
    width: 200px;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    border-radius: 5px;
    list-style: none;
    box-shadow: 0px 0px 7px 0px #ddd;
    overflow: hidden;
    z-index: 999999;
}

.contextmenu li {
    border-left: 3px solid transparent;
    transition: ease .2s;
}

.contextmenu li a {
    display: block;
    padding: 10px;
    color: #0092ee;
    text-decoration: none;
    transition: ease .2s;
}

.contextmenu li:hover {
    /*   background: #CE93D8; */
    background: #0092ee;
    /*   border-left: 3px solid #9C27B0; */
    border-left: 3px solid #0092ee;
}

.contextmenu li:hover a {
    color: #FFFFFF;
}
