<?xml version="1.0" encoding="UTF-8" ?><!--
  Original Author -> Harry Yang (taketoday@foxmail.com) https://taketoday.cn
  Copyright © TODAY & 2017 - 2020 All Rights Reserved.
  
  DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER
 
 -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <typeAliases>
    <package name="cn.taketoday.blog.repository" />
    <!-- <package name="cn.taketoday.blog.model"/> -->
  </typeAliases>

  <mappers>
    <mapper resource="mapper/UserMapper.xml" />
    <mapper resource="mapper/LabelMapper.xml" />
    <mapper resource="mapper/OptionMapper.xml" />
    <mapper resource="mapper/CommentMapper.xml" />
    <mapper resource="mapper/ArticleMapper.xml" />
    <mapper resource="mapper/BloggerMapper.xml" />
    <mapper resource="mapper/PageViewMapper.xml" />
    <mapper resource="mapper/CategoryMapper.xml" />
    <mapper resource="mapper/AttachmentMapper.xml" />
  </mappers>

</configuration>
