<?xml version="1.0" encoding="UTF-8"?><!--
  ~ Original Author -> Harry Yang (taketoday@foxmail.com) https://taketoday.cn
  ~ Copyright © TODAY & 2017 - 2023 All Rights Reserved.
  ~
  ~ DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see [http://www.gnu.org/licenses/]
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.taketoday.blog.repository.AttachmentRepository">

  <resultMap id="BaseResultMap" type="cn.taketoday.blog.model.Attachment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uri" jdbcType="CLOB" property="uri" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="file_type" jdbcType="TINYINT" property="fileType" />
    <result column="size" jdbcType="BIGINT" property="size" />
    <result column="location" jdbcType="CLOB" property="location" />
    <result column="sync" jdbcType="BIT" property="sync" />
    <result column="create_at" jdbcType="DATE" property="createAt" />
    <result column="update_at" jdbcType="DATE" property="updateAt" />
  </resultMap>

  <sql id="selectAllCol">
    `id`,`uri`,`name`,`file_type`,`size`,`location`,`sync` , `create_at`, `update_at`
  </sql>

  <delete id="deleteById" parameterType="long">
    delete
    from attachment
    where id = #{id}
  </delete>

  <update id="update" parameterType="cn.taketoday.blog.model.Attachment">
    update attachment
    <set>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="location != null">
        location = #{location},
      </if>
      <if test="uri != null">
        uri = #{uri},
      </if>
      <if test="fileType != null">
        file_type = #{fileType},
      </if>
      <if test="size != null">
        size = #{size},
      </if>
      <if test="sync != null">
        sync = #{sync},
      </if>
    </set>
    where id = #{id}
  </update>

  <select id="findById" resultMap="BaseResultMap">
    select
    <include refid="selectAllCol" />
    from attachment
    where id = #{id}
  </select>

  <insert id="save" parameterType="cn.taketoday.blog.model.Attachment">
    insert into attachment (id, name, uri, location, file_type, size, sync)
    values (#{id}, #{name}, #{url}, #{location}, #{fileType}, #{size}, #{sync})
  </insert>

  <!--  -->
  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="selectAllCol" />
    from attachment
  </select>

  <select id="find" resultMap="BaseResultMap">
    SELECT
    <include refid="selectAllCol" />
    from attachment
    ORDER BY id DESC
    LIMIT #{pageNow}, #{pageSize}
  </select>

  <select id="getTotalRecord" resultType="int">
    SELECT COUNT(id)
    FROM attachment
  </select>

  <!-- filter -->
  <select id="getRecordFilter" resultType="int">
    SELECT COUNT(id)
    FROM attachment
    <include refid="where_filter" />
  </select>

  <select id="filter" resultMap="BaseResultMap">
    SELECT
    <include refid="selectAllCol" />
    FROM attachment
    <include refid="where_filter" />

    ORDER BY id DESC
    LIMIT #{pageNow}, #{pageSize}
  </select>

  <sql id="where_filter">
    <where>
      <if test="args.fileType != null">
        `file_type` = #{args.fileType}
      </if>
      <if test="args.name != null">
        <bind name="name" value="'%' + args.name + '%'" />
        AND `name` like #{name}
      </if>
    </where>

  </sql>

</mapper>

