<?xml version="1.0" encoding="UTF-8"?><!--
  Original Author -> Harry Yang (taketoday@foxmail.com) https://taketoday.cn
  Copyright © TODAY & 2017 - 2022 All Rights Reserved.
  
  DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.taketoday.blog.repository.CommentRepository">

  <resultMap id="BaseResultMap" type="cn.taketoday.blog.model.Comment">
    <id column="id" jdbcType="BIGINT" property="id" />

    <result column="status" jdbcType="TINYINT" property="status" typeHandler="cn.taketoday.blog.repository.CommentStatusHandler" />

    <result column="content" jdbcType="VARCHAR" property="content" />

    <result column="replyUser" jdbcType="BIGINT" property="userId" />
    <result column="articleId" jdbcType="BIGINT" property="articleId" />
    <result column="commentId" jdbcType="BIGINT" property="commentId" />
    <result column="lastModify" jdbcType="BIGINT" property="lastModify" />

    <result column="sendMail" jdbcType="BIT" property="sendMail" />

  </resultMap>

  <select id="findById" resultMap="BaseResultMap">
    select *
    from comment
    where id = #{id}
  </select>

  <delete id="deleteById">
    delete
    from comment
    where id = #{id}
  </delete>

  <update id="update" parameterType="cn.taketoday.blog.model.Comment">
    update comment
    <set>
      <if test="userId != 0">
        replyUser = #{userId},
      </if>
      <if test="articleId != 0">
        articleId = #{articleId},
      </if>
      <if test="commentId != 0">
        commentId = #{commentId},
      </if>
      <if test="content != null">
        content = #{content},
      </if>
      <if test="status != null">
        status = #{status},
      </if>
      <if test="lastModify != 0">
        lastModify = #{lastModify},
      </if>
      <if test="sendMail != null">
        sendMail = #{sendMail},
      </if>
    </set>
    where id = #{id}
  </update>

  <select id="getArticleComment" resultMap="BaseResultMap">
    SELECT *
    FROM comment
    WHERE `articleId` = #{id}
      AND `status` = 0
    ORDER BY `id` ASC
  </select>

  <insert id="save" parameterType="cn.taketoday.blog.model.Comment">
    INSERT INTO comment (`id`, `articleId`, `content`, `status`, `replyUser`, `commentId`, `lastModify`)
    values (#{id}, #{articleId}, #{content}, #{status.code}, #{userId}, #{commentId}, #{id})
  </insert>

  <select id="getTotalRecord" resultType="int">
    SELECT COUNT(id)
    FROM comment
  </select>

  <select id="getRecordByArticleId" resultType="int">
    SELECT COUNT(id)
    FROM comment
    WHERE `articleId` = #{articleId}
      AND `status` = 0
      AND `commentId` = 0
  </select>

  <select id="getRecord" resultType="int">
    SELECT COUNT(id)
    FROM comment
    WHERE `status` = #{status.code}
  </select>

  <select id="findByStatus" resultMap="BaseResultMap">
    SELECT *
    FROM comment
    WHERE `status` = #{status.code}
    ORDER BY id DESC
    LIMIT #{pageNow}, #{pageSize}
  </select>

  <select id="findByUser" resultMap="BaseResultMap">
    SELECT *
    FROM comment
    WHERE `replyUser` = #{user.id}
    ORDER BY id DESC
    LIMIT #{pageNow}, #{pageSize}
  </select>

  <select id="getRecordByUser" resultType="int">
    SELECT COUNT(id)
    FROM comment
    WHERE `replyUser` = #{user.id}
  </select>

  <select id="find" resultMap="BaseResultMap">
    SELECT *
    FROM comment
    ORDER BY id DESC
    LIMIT #{pageNow}, #{pageSize}
  </select>

</mapper>

