<?xml version="1.0" encoding="UTF-8"?><!--
  Original Author -> Harry Yang (taketoday@foxmail.com) https://taketoday.cn
  Copyright © TODAY & 2017 - 2022 All Rights Reserved.
  
  DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.taketoday.blog.repository.LabelRepository">

  <resultMap id="BaseResultMap" type="cn.taketoday.blog.model.Label">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>

  <select id="findById" resultMap="BaseResultMap">
    select *
    from label
    where id = #{id}
  </select>

  <delete id="deleteById">
    delete
    from label
    where id = #{id}
  </delete>

  <insert id="save" parameterType="cn.taketoday.blog.model.Label">
    insert into label (`id`, `name`)
    values (#{id}, #{name})
  </insert>

  <update id="update" parameterType="cn.taketoday.blog.model.Label">
    update label
    set name = #{name}
    where id = #{id}
  </update>

  <insert id="saveArticleLabels">
    INSERT INTO article_label(articleId, labelId) values
    <foreach collection="labels" item="label" separator=",">
      (#{articleId},#{label.id})
    </foreach>
  </insert>

  <delete id="removeArticleLabels">
    DELETE
    from article_label
    WHERE articleId = #{id}
  </delete>

  <select id="findAll" resultMap="BaseResultMap">
    select *
    from label
  </select>

  <select id="findByArticleId" resultMap="BaseResultMap">
    SELECT *
    FROM label
    WHERE `id` IN (
      SELECT `labelId`
      FROM article_label
      WHERE `articleId` = #{id}
    )
  </select>

  <select id="findByName" resultMap="BaseResultMap">
    select *
    from label
    where `name` = #{name}
  </select>

  <insert id="saveAll" parameterType="cn.taketoday.blog.model.Label">
    INSERT INTO label(id, name) values
    <foreach collection="models" item="label" separator=",">
      (#{label.id}, #{label.name})
    </foreach>
  </insert>

</mapper>

