<?xml version="1.0" encoding="UTF-8"?><!--
  Original Author -> Harry Yang (taketoday@foxmail.com) https://taketoday.cn
  Copyright © TODAY & 2017 - 2022 All Rights Reserved.
  
  DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.taketoday.blog.repository.NavigationRepository">

  <resultMap id="BaseResultMap" type="cn.taketoday.blog.model.Navigation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="order" jdbcType="INTEGER" property="order" />
    <result column="target" jdbcType="VARCHAR" property="target" />
  </resultMap>

  <select id="findById" resultMap="BaseResultMap">
    select *
    from navigation
    where id = #{id}
  </select>

  <delete id="deleteById" parameterType="java.lang.Long">
    delete
    from navigation
    where id = #{id}
  </delete>

  <insert id="save" parameterType="cn.taketoday.blog.model.Navigation">
    insert into navigation (`id`, `url`, `icon`, `name`, `order`, `target`)
    values (#{id}, #{url}, #{icon}, #{name}, #{order}, #{target})
  </insert>

  <update id="update" parameterType="cn.taketoday.blog.model.User">
    update navigation
    <set>
      <if test="id != 0">
        id = #{id},
      </if>
      <if test="url != null">
        url = #{url},
      </if>
      <if test="icon != null">
        icon = #{icon},
      </if>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="order != 0">
        order = #{order},
      </if>
      <if test="target != null">
        target = #{target},
      </if>
    </set>
    where id = #{id}
  </update>

  <select id="findAll" resultMap="BaseResultMap">
    select *
    FROM navigation
  </select>


</mapper>

