/*
 * Copyright 2017 - 2026 the original author or authors.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see [https://www.gnu.org/licenses/]
 */

.avatarHolder {
  margin-bottom: 24px;
  text-align: center;

  & > img {
    width: 104px;
    height: 104px;
    margin-bottom: 20px;
  }

  .name {
    margin-bottom: 4px;
    color: @heading-color;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }
}

.detail {
  p {
    position: relative;
    margin-bottom: 8px;
    padding-left: 26px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  i {
    position: absolute;
    top: 4px;
    left: 0;
    width: 14px;
    height: 14px;
  }
}

.tagsTitle,
.teamTitle {
  margin-bottom: 12px;
  color: @heading-color;
  font-weight: 500;
}

.tags {
  :global {
    .ant-tag {
      margin-bottom: 8px;
    }
  }
}

.tabsCard {
  :global {
    .ant-card-head {
      padding: 0 16px;
    }
  }
}
