<?xml version="1.0" encoding="UTF-8"?><!--
  Original Author -> Harry Yang (taketoday@foxmail.com) https://taketoday.cn
  Copyright © TODAY & 2017 - 2022 All Rights Reserved.
  
  DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.taketoday.blog.repository.BloggerRepository">

  <resultMap id="BaseResultMap" type="cn.taketoday.blog.model.Blogger">

    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="passwd" jdbcType="VARCHAR" property="passwd" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
  </resultMap>

  <update id="update" parameterType="cn.taketoday.blog.model.Blogger">
    update blogger
    <set>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="age != 0">
        age = #{age},
      </if>
      <if test="email != null">
        email = #{email},
      </if>
      <if test="introduce != null">
        introduce = #{introduce},
      </if>
      <if test="passwd != null">
        passwd = #{passwd},
      </if>
      <if test="image != null">
        image = #{image},
      </if>
      <if test="sex != null">
        sex = #{sex},
      </if>
      <if test="address != null">
        address = #{address},
      </if>
    </set>
    where id = #{id}
  </update>

  <select id="getBlogger" resultMap="BaseResultMap">
    SELECT * FROM blogger
    LIMIT 1
  </select>

</mapper>
