<?xml version="1.0" encoding="UTF-8"?><!--
  Original Author -> Harry Yang (taketoday@foxmail.com) https://taketoday.cn
  Copyright © TODAY & 2017 - 2022 All Rights Reserved.
  
  DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.taketoday.blog.repository.CategoryRepository">

  <resultMap id="BaseResultMap" type="cn.taketoday.blog.model.Category">
    <id column="name" jdbcType="VARCHAR" property="name" />
    <result column="order" jdbcType="INTEGER" property="order" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="articleCount" jdbcType="INTEGER" property="articleCount" />
  </resultMap>

  <select id="findById" resultMap="BaseResultMap">
    select `articleCount`, `name`, `order`, `description`
    from category
    where `name` = #{name}
  </select>

  <delete id="deleteById">
    delete
    from category
    where name = #{name}
  </delete>

  <update id="updateById" parameterType="java.util.Map">
    update category
    <set>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="order != -1">
        `order` = #{order},
      </if>
      <if test="description != null">
        description = #{description},
      </if>
    </set>
    where name = #{id}
  </update>

  <update id="update" parameterType="cn.taketoday.blog.model.Category">
    update category
    set description = #{description},
        `order`     = #{order}
    where name = #{name}
  </update>

  <select id="findAll" resultMap="BaseResultMap">
    select *
    from category
    ORDER BY `order` ASC
  </select>

  <insert id="save" parameterType="cn.taketoday.blog.model.Category">
    insert into category (`name`, `order`, `description`)
    values (#{name}, #{order}, #{description})
  </insert>

  <update id="updateArticleCount" parameterType="java.lang.String">
    UPDATE category
    SET articleCount = (SELECT COUNT(id) FROM article WHERE status = 0 and category = #{name})
    WHERE name = #{name}
  </update>

  <select id="findArticleCount" resultType="int">
    SELECT `articleCount`
    from category
    WHERE `name` = #{name}
  </select>

</mapper>

