<?xml version="1.0" encoding="UTF-8"?><!--
  Original Author -> Harry Yang (taketoday@foxmail.com) https://taketoday.cn
  Copyright © TODAY & 2017 - 2022 All Rights Reserved.
  
  DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER
 
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
 
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.taketoday.blog.repository.LoggerRepository">

  <resultMap id="BaseResultMap" type="cn.taketoday.blog.model.Operation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="user" jdbcType="VARCHAR" property="user" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>

  <select id="findById" resultMap="BaseResultMap">
    select *
    from logger
    where id = #{id}
  </select>

  <delete id="deleteById" parameterType="long">
    delete
    from logger
    where id = #{id}
  </delete>

  <!-- truncate table -->
  <delete id="deleteAll">
    truncate table logger
  </delete>

  <delete id="deleteByIds">
    delete from logger where id IN (
    <foreach collection="ids" item="id" separator=",">
      #{id}
    </foreach>
    )
  </delete>

  <insert id="save" parameterType="cn.taketoday.blog.model.Operation">
    insert into logger (`id`, `ip`, `title`, `content`, `user`, `result`, `type`)
    values (#{id}, #{ip}, #{title}, #{content}, #{user}, #{result}, #{type})
  </insert>

  <update id="update" parameterType="cn.taketoday.blog.model.User">
    update logger
    <set>
      <if test="id != 0">
        id = #{id},
      </if>
      <if test="ip != null">
        ip = #{ip},
      </if>
      <if test="title != null">
        title = #{title},
      </if>
      <if test="type != null">
        type = #{type},
      </if>
      <if test="user != null">
        user = #{user},
      </if>
      <if test="result != null">
        result = #{result},
      </if>
      <if test="content != null">
        content = #{content},
      </if>
    </set>
    where id = #{id}
  </update>

  <select id="findAll" resultMap="BaseResultMap">
    select *
    FROM logger
  </select>

  <select id="findLatest" resultMap="BaseResultMap">
    select *
    FROM logger
    ORDER BY id DESC
    LIMIT 0, 5
  </select>

  <select id="find" resultMap="BaseResultMap">
    SELECT *
    FROM logger
    ORDER BY id DESC
    LIMIT #{pageNow}, #{pageSize}
  </select>

  <select id="getTotalRecord" resultType="int">
    SELECT COUNT(id)
    FROM logger
  </select>

</mapper>

